.card-info {
    padding: $card_image_offset;
    box-sizing: border-box;
    background-color: $color_card_info_bg;
    color: $color_card_info_text;
    .close-btn {
        position: absolute;
        font-size: 26px;
        right: 15px;
        top: 45px;
        padding: 5px;
    }
    .links {
        position: absolute;
        width: fit-content;
        display: flex;
        right: 0;
        bottom: 0;
        padding: 15px 5px;
        .links-icon {
            width: 40px;
            height: 40px;
            font-size: 25px;
            margin-right: 10px;
        }
    }
}