@keyframes blink {
  0% {
    opacity: 0;
  }
  49% {
    opacity: 0;
  }
  50% {
    opacity: 1;
  }
}

.blink {
  animation: blink 1s infinite;
}

.works {
  position: relative;
  min-height: 500px;
  padding: 40px 0;
  @include size_M {
    padding: 30px 0;
  }
  h2 {
    @extend %title;
  }
  .scroll-section {
    overflow: hidden;
    height: fit-content;
    .wrap {
      width: fit-content;
      display: flex;
      // height: calc(100vh - #{$navHeight} - 130px);
      height: fit-content;
      min-height: 420px;
      padding-right: 50px;
      margin-left: 40px;
      :deep(.el-card) {
        width: 600px;
        height: 420px;
        min-height: 420px;
        margin-left: 40px;
        margin-bottom: 30px;
        cursor: pointer;
        @include size_M {
          margin-left: 0;
        }
        .pic {
          height: 340px
        }
        img {
          object-fit: cover;
          width: 100%;
          height: 100%;
          max-width: 100%;
          max-height: 100%;
          margin-top: -30px;
        }
        .card-intro {
          padding: 14px;
          margin-top: -30px;
          border-top: 2px solid #eee;
          .intro-top {
            display: flex;
            justify-content: space-between;
            align-items: center;
            .intro-title {
              display: flex;
              justify-content: flex-start;
              align-items: center;
              margin-left: 10px;
              text-decoration: none;
              width: fit-content;
              &:active {
                color: #283e5a;
              }
              @extend %intro-animation;
              .connection {
                margin-left: 15px;
                display: none;
                transition: 3.8s ease-out;
              }
            }
            .intro-icon {
              margin-right: 10px;
              .change-color {
                color: $color_IntroIcon;
                border-color: $color_IntroIcon;
              }
            }
          }
        }
      }
      @include size_M {
        margin: 0 auto;
        padding: 0;
        flex-direction: column;
        width: fit-content;
        height: fit-content;
        .card {
          margin: 0 0 60px 0;
        }
      }
    }
  }
  .notice {
    cursor: pointer;
    margin: 30px 5% 0 auto;
    display: flex;
    justify-content: space-between;
    width: 110px;
    height: 30px;
    font-size: 30px;
    line-height: 30px;
    z-index: 9;
    color: $color_Main;
    @include size_M {
      display: none;
    }
  }
}
.works-layout {
  background-color: $color_layout_bg;
  background-image: url('~@/assets/waves/wave-layout-top.svg'),
    url('~@/assets/waves/wave-layout-bottom.svg');
  background-repeat: no-repeat;
  background-position: top, bottom;
  h2 {
    color: $color_layout_page_title;
  }
  .card {
    .title {
      background-color: $color_layout_card_title_bg;
      a {
        color: $color_layout_card_title;
      }
    }
    .left {
      background-color: $color_layout_card_left_bg;
      .icons {
        color: $color_layout_card_left_icons;
        border-color: $color_layout_card_left_icons;
      }
      .tags {
        color: $color_layout_card_left_tags;
      }
      small {
        color: $color_layout_card_left_small;
      }
    }
  }
}
.works-vue {
  background-color: $color_vue_bg;
  h2 {
    color: $color_vue_page_title;
    &::before {
      background-color: rgb(250, 250, 250);
    }
    &::after {
      background-color: rgb(251, 242, 157);
    }
  }
  .card {
    .title {
      background-color: $color_vue_card_title_bg;
      a {
        color: $color_vue_card_title;
      }
    }
    .left {
      background-color: $color_vue_card_left_bg;
      .icons {
        color: $color_vue_card_left_icons;
        border-color: $color_vue_card_left_icons;
      }
      .tags {
        color: $color_vue_card_left_tags;
      }
      small {
        color: $color_vue_card_left_small;
      }
    }
  }
}
.works-react {
  background-color: $color_react_bg;
  background-image: url('~@/assets/waves/wave-react-top.svg');
  background-repeat: no-repeat;
  background-position: top;
  margin-bottom: 30px;
  h2 {
    color: $color_react_page_title;
  }
  .card {
    .title {
      background-color: $color_react_card_title_bg;
      a {
        color: $color_react_card_title;
      }
    }
    .left {
      background-color: $color_react_card_left_bg;
      .icons {
        color: $color_react_card_left_icons;
        border-color: $color_react_card_left_icons;
      }
      .tags {
        color: $color_react_card_left_tags;
      }
      small {
        color: $color_react_card_left_small;
      }
    }
  }
}
